
.*.swp
*~
/Debug
/DebugFast
/Release
/ipch
/x64
/Win32
/horus_eye

/Makefile

!/CMakeLists.txt
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

*.suo
*.sdf
*.vsp
*.pyc
*.opensdf
*.vsps
*.vcxproj
*.filters
*.user
*.sln
!Horus Eye.sln

/include
settings.bin
settings.ini

/Default
/bin
/tmp
/lib/ugdk_d.lib
/lib/ugdk_d.pdb
/lib/ugdk.lib
/lib/libugdk.a
/lib/libugdk.so
/lib/libugdk.dylib
/lib/libugdk_d.a
/lib/libugdk_d.so
/lib/link_libugdk.a
/lib/link_libugdk_d.a
/lib64/ugdk_d.lib
/lib64/ugdk_d.pdb
/lib64/ugdk.lib
/lib64/libugdk.a
/lib64/libugdk.so
/lib64/libugdk.dylib
/lib64/libugdk_d.a
/lib64/libugdk_d.so
/lib64/link_libugdk.a
/lib64/link_libugdk_d.a
/*.dll
/deploy/vcredist_x86.exe
/deploy/dotNetFx40_Full_setup.exe
/deploy/Output
/deploy/Horus Eye.app/
/deploy/Horus Eye.dmg
/license/Thumbs.db
/license/legalcode_arquivos/Thumbs.db
/license/Creative_Commons_Legal_Code/Thumbs.db
/license/Creative_Commons_Legal_Code/Thumbs.db
/license/legalcode_arquivos/Thumbs.db
doc/doxy/
/resources-v*.tgz

/src/modules.cc
