
.*.swp
*~
/Debug
/DebugFast
/ipch
/Release
/config.h
/Makefile
/cmake*
/horus_eye*
/CMake*
!/CMakeLists.txt
/Horus Eye.vcxproj.user
*.suo
*.sdf
*.vsp
/src/game/build
/src/game/config.h
settings.bin

/Windows Release
/Default

/bin
/tmp
/lib/ugdk_d.lib
/lib/ugdk_d.pdb
/lib/ugdk.lib
/Horus Eye.opensdf